:root {
  --color1: #1a374d;
  --color2: #6998ab;
  --color3: #b1d0e0;
}

* {
  background-color: var(--color1);
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

div .episode_card {
  background-color: var(--color2);
  width: 350px;
  color: var(--color3);
  border: 2px solid;
  margin: 0 auto;
}

.episode_upvotes {
  text-align: left;
  height: 25px;
}

.episode_image {
  text-align: right;
  height: 20px;
}

.slider {
  position: relative;
  height: 100vh;
  width: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  /* height: 300px; */
  padding: 3%;
  /* background-image: url(./logo512); */
  color: var(--color3);
}

.searchbar {
  padding: 2%;
}

.carousel {
  padding: 2%;
}

.carousel2 {
  padding: 2%;
}
