:root {
  --color1: #1a374d;
  --color2: #6998ab;
  --color3: #b1d0e0;
}

* {
  /* background: url(/public/background.svg) no-repeat; */
  /* background-size: contain; */
  /* font-family: "Garamond"; */
  /* font-family: "Major Mono Display"; */
  font-family: "Courier New";
  margin: 0;
}

.App {
  text-align: center;
  /* background: url(/public/background.svg) no-repeat; */
  background: url(https://www.pngmagic.com/product_images/blue-3d-background-vector-images.jpg)
    no-repeat;
  background-size: cover;
  /* background-color: var(--color1); */
}

/* .App-logo {
  height: 400px;
  pointer-events: none;
} */

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

div .episode_card {
  background-color: var(--color3);
  width: 25vw;
  color: var(--color1);
  border: 2px solid;
  padding: 1vw;
  margin: 4vw;
}

.episode_upvotes {
  text-align: left;
  height: 25vh;
}

.episode_image {
  text-align: right;
  height: 20vw;
}

.episode_playback {
  text-align: left;
  height: 10vh;
}

.slider {
  position: relative;
  height: 100vh;
  width: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  /* height: 300px; */
  /* background-color: var(--color1); */
  padding: 1%;
  /* margin-top: 5vh; */
  /* background-image: url(./logo512); */
  color: var(--color3);
}

.searchbar {
  padding: 2%;
}

.carousel {
  padding: 2%;
}

.carousel2 {
  padding: 2%;
}
